/*
 * Main PrimeFaces JQuery UI tuning
 */
input,
select,
textarea,
button,
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
.ui-widget-header,
.ui-widget-content,
.ui-widget-header .ui-widget-header,
.ui-widget-content .ui-widget-content {
    font-family: Arial, "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px !important;
}

.colStyle10 { width: 10%; }

.colStyle20 { width: 20%; }

.colStyle25 { width: 25%; }

.colStyle30 { width: 30%; }

.colStyle70 { width: 70%; }

.colStyle75 { width: 75%; }

.colStyle80 { width: 80%; }

.colStyle90 { width: 90%; }

.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}

.ui-layout-unit {
    margin: 0;
    padding: 0;
}

.main-layout-unit.ui-layout-unit {
    border-radius:0;
    border: 0;
    margin: 0;
    padding: 0;
}

.menuButton .ui-button-text {
    font-size: 12px;
    font-weight: bold;
}

.menuItem .ui-menuitem-text {
    font-size: 12px;
    font-weight: bold;
    padding: 0.2em;
}

#mainBottom {
    text-align: center;
    font-weight: bold;
}

.inputTitle {
    font-weight:bold;
}

/*
 * Main HTML tuning
 */

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top: 20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}