@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../afonts/CaviarDreams-webfont.eot');
    src: url('../afonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../afonts/CaviarDreams-webfont.woff') format('woff'),
         url('../afonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../afonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

#login{
    clear: both;
    height: 100%;
    /**/
    position: relative;
    width: 100%; padding: 0; margin: 0;
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #eeeeee 0%,#cccccc 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#loginBox{
    width: 450px; height: 160px;
    border-top: 8px solid #e15943;
    background: #f9f9f9;
    margin: 0 auto;
    padding: 45px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -225px;
    border-top: 2px solid #df513d;
}
.arianeLogo{
    background: url("/aimages/ariane/logo-ariane-login.png") no-repeat;
    width: 91px; height: 114px; display: block; text-indent: -9000px; position: absolute; left: 50%; margin-left: -45.5px; top: -150px;
}

#loginBox input[type=text],#loginBox input[type=password] {
    border: 1px solid #8c8c8c !important;
    background: #fff;
    width: 260px;
    padding: 15px 10px 15px 40px;
    color: #404041;
    outline: none;
    box-shadow: none;
}

#loginBox input[type=text]{
    border-radius: 6px 6px 0 0;
    display: block;
}

#loginBox .wrapperloginboxUser::before {
    content: "\f007";
    font-family: 'FontAwesome';
    left: 20px;
    top: 15px;
    position: absolute;
    color: #404041;
}

#loginBox .wrapperloginboxPassword::before {
    content: "\F084";
    font-family: 'FontAwesome';
    left: 20px;
    top: 15px;
    position: absolute;
    color: #404041;
}

.wrapper{width: 310px; margin: 0 auto; position: relative; display: block;}

#loginBox input[type=password] {
    border-radius: 0 0 6px 6px;
    border-top: none !important;
}

#loginBox button {
	font-size: 1.1em !important;
	font-family: 'caviar_dreamsregular';
	text-transform: uppercase;
    width: 310px;
    margin: 22px auto 0 auto;
    padding: 5px 0;
    display: block;
    background: #df513d;
    background: -moz-radial-gradient(center, ellipse cover, #df513d 0%, #e3674e 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#df513d), color-stop(100%,#e3674e));
    background: -webkit-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%);
    background: -o-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%);
    background: -ms-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%);
    background: radial-gradient(ellipse at center, #df513d 0%,#e3674e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df513d', endColorstr='#e3674e',GradientType=1 );
    border: none;
    box-shadow: none !important;
}

#loginBox button:hover {
    background: #404041; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #404041 0%, #2e2e2f 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#404041), color-stop(100%,#2e2e2f)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #404041 0%,#2e2e2f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #404041 0%,#2e2e2f 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #404041 0%,#2e2e2f 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #404041 0%,#2e2e2f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404041', endColorstr='#2e2e2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ color: #fff;
}

#loginBox .ui-commandlink {
    color: grey; left: 160px; top: 220px; position: absolute;
}



/*----------*/
#login{
	/*background: rgba(0, 0, 0, 0.7);*/
}
body .ui-corner-all{
	border-radius: 0;
}
body .ui-dialog{
	-webkit-box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 3px 5px 2px rgba(0,0,0,0.2);
}
body .ui-widget-header a{
	background: #df513d;
	border: none;
}
body .ui-widget-header{
	background: transparent !important;
	color: #2a2828 !important;
}
body .inputTitle{
	font-weight: 100 !important;
	font-size: 1.2em;
}
body .ui-dialog-content input[type=text]{
	border: 1px solid #8c8c8c !important;
	padding: 5px 5px !important;
	color: #404041 !important;
	outline: none !important;
	box-shadow: none !important;
}
body .ui-dialog-content button{
    width: 272px;
	background: #df513d !important;
	background: -moz-radial-gradient(center, ellipse cover, #df513d 0%, #e3674e 100%) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#df513d), color-stop(100%,#e3674e)) !important;
	background: -webkit-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%) !important;
	background: -o-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%) !important;
	background: -ms-radial-gradient(center, ellipse cover, #df513d 0%,#e3674e 100%) !important;
	background: radial-gradient(ellipse at center, #df513d 0%,#e3674e 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df513d', endColorstr='#e3674e',GradientType=1 ) !important;
	border: none !important;
	text-transform: uppercase;
	padding: 0px 0px;
	font-size: 1.2em !important;
	margin: 0 auto;
}

.footer{
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;
	bottom: 20px;
	background: url(/aimages/ariane/ariane-by-echinpopsii.png) center top no-repeat;
}
.footer ul{list-style: none;}
.footer #arianeby{
	width: 250px;
	height: 50px;
	display: block;
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -125px;
	text-indent: -9000px;
}
.footer #cctext{
	width: 135px;
	height: 20px;
	font-family: 'caviar_dreamsregular';
	display: block;
	position: absolute;
	top: 45px;
	left: 50%;
	color: grey;
	margin-left: -75px;
	padding: 0 0 0 15px;
	font-size: 0.8em !important;
	background: url(/aimages/ariane/copyleft.png) 0 1px no-repeat
}
.footer #scm{
    width: 250px;
    height: 20px;
    font-family: 'caviar_dreamsregular';
    display: block;
    position: absolute;
    top: 65px;
    left: 50%;
    color: grey;
    margin-left: -107px;
    padding: 0 0 0 15px;
    font-size: 0.8em !important;
}
.footer #agplv3{
    width: 250px;
    height: 20px;
    font-family: 'caviar_dreamsregular';
    display: block;
    position: absolute;
    top: 65px;
    left: 50%;
    color: grey;
    margin-left: 25px;
    padding: 0 0 0 15px;
    font-size: 0.8em !important;
}